@charset "UTF-8";

/* */

.types-box-list-widget {
    width: auto;
}

.type-box {
    display: block;
    position: relative;
    min-width: 306px;
    min-height: 208px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.types-box-list-widget li:nth-child(odd) .type-box {
    background-image: url('./../../../../public/media/images/banners/home1.jpg');
}

.types-box-list-widget li:nth-child(even) .type-box {
    background-image: url('./../../../../public/media/images/banners/home2.jpg');
    color: #fff;
}

.types-box-list-widget li:nth-child(even) .type-box * {
    color: #fff;
}

@media (min-width: 480px){

    .type-box {
        /* max-width: 446px; */
        /* max-height: 303px; */
        width: 446px;
        height: 303px;
        border-radius: 10px;
    }
}

.type-box::before{
    content: "";
    display: block;
    padding-top: 68%;
}

.type-box .content-box {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 18px;
}

.type-box .content-box .title{
    font-family: "Quicksand","sans-serif";
    font-weight: bold;
    margin-top: -4px;
    line-height: 25px;
    margin-bottom: -3px;
}

.type-box .content-box p {
    display: block;
    margin-bottom: 10px;
}

.type-box .content-box a {
    padding: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320)))
            calc(24px + (34 - 24) * ((100vw - 320px) / (1920 - 320)));
    background-color: #fff;
    color: #0baf9a;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #0baf9a;
    display: inline-block;
    line-height: 21px;
}

.types-box-list-widget li:nth-child(odd) .type-box .content-box a {
    background-color: #0baf9a;
    color: #f0f0f0;
    border: 1px solid #0baf9a;
}

.types-box-list-widget li:nth-child(even) .type-box .content-box a {
    background-color: #fff;
    color: #0baf9a;
    border: 1px solid #fff;
}
