@charset "UTF-8";

/*  */

#headerAdminMenuToggler {
    cursor: pointer;
}

/* .dropdown-menu.user-dropdown-menu {
    -webkit-box-shadow: 0 3px 20px rgb(89 105 129 / 30%), 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(89 105 129 / 10%) !important;
    -moz-box-shadow: 0 3px 20px rgb(89 105 129 / 30%), 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(89 105 129 / 10%) !important;
    box-shadow: 0 3px 3px rgb(89 105 129 / 30%), 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(89 105 129 / 10%) !important;
} */
