@charset "UTF-8";

/*  */

#userAccountActivationToggleFormView #deactivateInput {
    width: 1.5rem;
    height: 1.5rem;
    border-color: var(--bs-border-color) !important;
    margin-top: -0.125rem;
}
