@charset "UTF-8";

/* */

.password-meter-control .password-meter-control-element {
    flex-grow: 1 !important;
    background-color: #f6f6f6;
    border-radius: 0.475rem;
}

[data-theme= "dark"] .password-meter-control .password-meter-control-element {
    background-color: var(--body-bg);
}

.password-meter-control .password-meter-control-element.active {
    background-color: rgba(var(--bs-success-rgb), 0.76);
}
