@charset "UTF-8";

/* */

.auth-page-content {
    position: relative;
    /* background-color: #5cb85c21 !important; */
    /* background-color: rgba(92, 184, 92, 0.3) !important; */
    /* background-color: #0ff !important; */
    /* background-color: #f6f6f7 !important; */
    /* background-color: #10475b !important; */
    /* background-color: #f8f8f8 !important; */
    /* background-color: #94dab6 !important; */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/ball-wed.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/foam-cyan.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/foam-green.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/photon-original.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/photon.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/photon-cyan.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/photon-blue-marine.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/photon-green.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/5329108.jpg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/5329106.png'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/bg.jpg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/bg-2.jpg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/fond-abstrait-points-lignes-connexion-resized.jpg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/3163920-resized.jpg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/m-gradient.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/m-foam.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/m-valey.svg'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/m-wave.svg'); */
    background-image: url('../../../../public/assets/media/images/backgrounds/bg-dark.jpg') !important;
    background-size: cover;
    /* background-position: center center; */
    background-position: 0% 50% !important;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-repeat: repeat-y; */
    /* background-color: #f1faff !important; */
    
    /* background: linear-gradient(-45deg,#4b38b3 50%,#45cb85); */
    /* background: linear-gradient(-45deg,#45cb85 5%,#fff); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/gros-plans-stylo-flou-resized.jpg'); */
    /* background: linear-gradient(to bottom right,#5fd5b6,#4bfe85); */
    /* background: linear-gradient(to bottom right,#5fd5b6,#45cb85); */
    background: var(--body-bg);
}

.auth-page-content > .background-overlay {
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/cover-pattern.png'); */
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/ball-wed.svg'); */
    background-position: center;
    background-size: cover;
    /* opacity: 1; */
    /* background-color: transparent; */
    /* background-color: rgba(0, 0, 0, 0.92); */
    background-color: rgba(25, 36, 64, 0.92);
    /* background: linear-gradient(to right,#41319c,#45cb85); */
    /* background: linear-gradient(to right,#45cb85,#45cb85); */
    /* background: linear-gradient(to right,#5fd5b6,#45cb85); */
    /* background: linear-gradient(to right,#5fd5b6,#4bfe85); */
    opacity: 1;
    /* background: linear-gradient(to bottom right,#5fd5b6,#4bfe85); */
    /* background: linear-gradient(to bottom right,#5fd5b6,#45cb85); */
}

[data-theme='dark'] .auth-page-content > .background-overlay {
    background-color: rgba(0, 0, 0, 0.92);
}

/* */

.col-form .card {
    /* background-image: url('./../../../../public/assets/media/images/backgrounds/ball-wed.svg'); */
    /* background: linear-gradient(-45deg,#45cb85 100%,#fff); */
    /* background-color: #fff; */
    /* -webkit-backdrop-filter: blur(20px) !important; */
    /* backdrop-filter: blur(20px) !important; */

    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.col-form.p-10 {
    padding: 1.5rem !important;
}

.col-form .card-body.p-10 {
    padding: 1.25rem !important;
}

@media (min-width: 480px) {
    
    .col-form.p-10,
    .col-form .card-body.p-10 {
        padding: 2rem !important;
    }
}

@media (min-width: 500px) {
    
    .col-form.p-10,
    .col-form .card-body.p-10 {
        padding: 2.5rem !important;
    }
}

.col-form .card .btn-submit {
    background-color: #e2963b;
}

.col-form .card .btn-submit:hover,
.col-form .card .btn-submit:active {
    background-color: #c78434;
}

/*  */

.login-logo-wrapper img {
    max-width: 200px;
}

/* @media (min-width: 576px) {
    
    .login-logo-wrapper img {
        max-width: 200px;
    }
}

@media (min-width: 768px) {
    
    .login-logo-wrapper img {
        max-width: 200px;
    }
}

@media (min-width: 992px) {
    
    .login-logo-wrapper img {
        max-width: 215px;
    }
}

@media (min-width: 1200px) {
    
    .login-logo-wrapper img {
        max-width: 233px;
    }
} */

@media (min-width: 1400px) {
    
    .login-logo-wrapper img {
        /* max-width: 320px; */
        /* max-width: 256px; */
    }
}

@media (min-width: 1700px) {
    
    .login-logo-wrapper img {
        /* max-width: 384px; */
    }
}
