@charset "UTF-8";

/* */

ion-content#canceledOrderPageContent {
    --background: rgba(var(--ion-background-color-rgb), 0.7);
}

.cancelled-order,
.cancelled-order ion-button {
    font-family: "Mulish", "sans-serif";
}

/* .cancelled-order .image-wrapper {
    width: 180px;
} */

.cancelled-order .image-wrapper img {
    width: 100%;
    display: inline-block;
}

.cancelled-order .cancelled-order-title {
    font-family: "Quicksand", "sans-serif";
}

.cancelled-order .cancelled-order-title,
.cancelled-order .cancelled-order-text {
    line-height: 1.6rem;
}

[data-theme='light'] .cancelled-order .cancelled-order-text {
    font-weight: 500;
}
