@charset "UTF-8";

/*  */

.products-table thead th.product{
    min-width: 225px !important;
}

.products-table thead th.category{
    min-width: 125px !important;
}

.products-table thead th.price,
.products-table thead th.date-added{
    min-width: 150px !important;
}

.products-table thead th.weight,
.products-table thead th.available-in-box {
    min-width: 115px !important;
}
