@charset "UTF-8";

/* */

.order-payment-details-widget {
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-family: "Mulish","sans-serif";
}

/*  */

/* .order-payment-details-widget .order-payment-details-widget-header {
    border-bottom: 1px dotted var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
} */

.order-payment-details-widget .order-payment-details-widget-header ion-card-title {
    color: var(--ion-color-primary) !important;
}

.order-payment-details-widget .order-payment-details-widget-title {
    font-weight: 600;
}

.order-payment-details-widget .order-payment-details-widget-content {
    padding-top: 0.75rem !important;
}

/*  */

.order-payment-details-widget .row-title ion-card-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.order-payment-details-widget .row-title ion-card-title {
    color: var(--ion-color-primary) !important;
}

/*  */

.order-payment-details-widget .col-wording,
.order-payment-details-widget .col-amount {
    font-weight: 500;
}

.order-payment-details-widget .col-wording {
    text-align: start;
}

.order-payment-details-widget .col-amount {
    text-align: end;
}

/*  */

.order-payment-details-widget .row-total-amount {
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-radius: 4px;
}

[data-theme="dark"] .order-payment-details-widget .row-total-amount {
    border-top: 1px solid rgba(146, 148, 156, 0.08);
}

[data-theme="light"] .order-payment-details-widget .row-total-amount {
    border-top: 1px solid rgba(146, 148, 156, 0.1);
}

.order-payment-details-widget .row-total-amount .col-wording,
.order-payment-details-widget .row-total-amount .col-amount {
    font-weight: 600;
}

.order-payment-details-widget .row-delivery-address ion-icon {
    font-size: 20px;
}

.order-payment-details-widget .order-payment-status {
    cursor: default;
    pointer-events: none;
}

[data-theme="dark"] .order-payment-details-widget ion-chip.order-payment-status.unpaid {
    color: rgb(240, 101, 72);
}
